<article>
    <div>
        <h2>{{title}}</h2>
    </div>
    <div>
        <h3>by {{user.username}} on {{created_at}}</h3>
        <a href="/posts/{{id}}">// TODO: Allow Comments</a>
    </div>
</article>