<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<nav id="navbar">
    <button id="homepage-btn">Homepage</button>
    {{#if loggedIn}}
    <button id="dashboard-btn">Dashboard</button>
    <button id="logout-btn">Log Out</button>
    {{else}}
    <button id="login-btn">Log In</button>
    {{/if}}
</nav>
<main>
    {{{body}}}
</main>
<script src="/javascript/homepage.js"></script>
</html>