{{#each posts}}
    <article>
        <div>
            <h2>{{title}}</h2>
            <div>
                {{created_at}} by {{user.username}}
            </div>
        </div>
    </article>
{{/each}}
