<section id="login-form-section">
    <form id="login-form">
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" name="password">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit" id="submit">Log in</button>
    </form>
</section>
<div id="signup-div">
    <p>Don't have an account yet?</p>
    <a id="signup-link" href="/signup">Sign Up Here</a>
</div>
<script src="/javascript/login.js"></script>